body{
    margin : 0px;
    padding: 0px;
    font-family: 'Roboto Condensed';
}

/*Poster Styles */
.poster{
    background-image:url("../assets/desk.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.poster-content{
    background-color: rgba(88,0,31,.6);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.poster-title-container{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 20px;
}
h1{
    font-size:100px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    color:white;
}
h5{
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    color:white;
}

/*Navigation header Style*/
.nav-header-container{
    position: sticky;
    background-color: #262b37;
    margin: 0px;
    display: flex;
    top:0px;
    justify-content: center;
    align-items: center;
}
.nav-header{
    width: 60%;
}
ul{
    margin: 0px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
li{
    text-decoration: none;
    padding: 28px;
    color: white;
    cursor: pointer;
    transition:0.4s;
}
li:hover{
    background-color: #1b1f29;
}
/*SECTION 03 Apropos Section*/
.apropos{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color:#F50057;
}
.section-container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apropos-title{
    text-align: center;
    padding: 25px;
    color: white;
}
h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0px;
}

.apropos-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 25px;
}
.apropos-info{
    flex: 3;
    padding: 15px;
    color: white;
}
.apropos-photo{
    flex:2;
    display: flex;
    justify-content: center;
}
h3{
    font-weight: 400;
    font-size: 24px;
}
p{
    font-size: 18px;
}
.btn{
    background-color: #262b37;
    color: white;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto Condensed';
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}
.photo{
    width: 80%;
    background-image: url("../assets/profile.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
/*SECTION 4 : Competence*/
.competence{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}
.competence-title{
    text-align: center;
    color: #F50057;
    padding: 25px;
}
.competence-info{
    padding: 25px;
    width: 100%;
}
.row{
    display: flex;
    padding: 30px 10px;
}
.col{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats{
    color:#F50057;
    font-weight: 500;
}
/*SECTION 5 experience*/
.experience{
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.experience-title{
    text-align: center;
    color: #F50057;
    padding: 25px;
}
.experience-info{
    display: flex;
    flex-direction: column;
    justify-content: column;
    width: 100%;
}
.row-experience{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col-date{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 45px;
    color: white;
    border-right-style: solid;
    border-right-color: #eee;
    border-right-width: 1.5px;
    font-weight: 600;
}
.col-exp-container{
    flex:4;
    background-color: #eee;
    margin: 0px 20px;
    padding: 15px;
    border-radius: 4px;
}
.boule{
    text-align: center;
    background-color: #F50057;
    border-radius: 50%;
    width: 50%;
    padding: 25px;
}

/*SECTION 6 SERVICES*/
.services{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}
.services-title{
    text-align: center;
    color: #F50057;
    padding: 25px;
}
.services-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.services-card{
    flex: 1;
    padding :40px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: #dbdbdb;
    text-align: center;
    transition: 0.3s;
}
.services-card:hover{
    background-color: #F50057;
    color: white;
    border-color: #F50057;
}
.icon{
    padding: 30px;
}

/*    SECTION 7 : Contact*/
.contact{
    display: flex;
    height: 90vh;
    justify-content: center;
}
.contact-container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-text{
    flex: 1;
}
.contact-form{
    flex : 1;
}
#contact-title{
    font-size: 60px;
    padding: 30px 0px;
}
#sigiature{
    font-family: 'Parisienne', cursive;
    font-weight: bolder;
    font-size: 50px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Roboto Condensed';

}
textarea{
    margin: 20px;
    font-size: 20px;
    padding: 20px;
    font-family: 'Roboto Condensed';
    resize: none;
}
/*FOOTER STYLES*/
footer{
    background-color: #262b37;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
}