body{
    margin : 0px;
    padding: 0px;
    font-family: 'Oswald';
}

/*Poster Styles */
.poster{
    background-image: url("../assets//desk5.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.poster-content{
    background-color: rgba(38,43,55,.4);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.poster-title-container{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 20px;
}
h1{
    font-size:100px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    color:white;
}
h5{
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    color:white;
}

/*Navigation header Style*/
.nav-header-container{
    position: sticky;
    background-color: #262b37;
    margin: 0px;
    display: flex;
    top:0px;
    justify-content: center;
    align-items: center;
}
.nav-header{
    width: 60%;
}
ul{
    margin: 0px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
li{
    text-decoration: none;
    padding: 28px;
    color: white;
    cursor: pointer;
    transition:0.4s;
}
li:hover{
    background-color: #1b1f29;
}
/*SECTION 03 Apropos Section*/
.apropos{
    min-height: 90vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color:#fff;
}
.section-container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apropos-title{
    text-align: center;
    padding: 25px;
}
.title{
    font-size: 43px;
    color:#000;
    font-weight: 600;
}
.sub-title{
    font-size: 20px;
    color: #878787;
    font-weight: 400;
}
.apropos-content{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 25px;
    height: 100%;
}
.apropos-info{
    flex: 2;
    padding: 15px;
    text-align: justify;
}
.apropos-photo{
    flex:3;
    display: flex;
    justify-content: center;
    }
h3{
    font-weight: 400;
    font-size: 24px;
}
p{
    font-size: 18px;
}
.btn{
    background-image: linear-gradient(to right, #833ad9 , #536DFE);
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}
.photo{
    width: 80%;
    background-image: url("../assets/undraw_site_content_ihgn.png");
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

/*SECTION 4 SERVICES*/
.services{
    height: fit-content;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}
.services-title{
    text-align: center;
    color: #FB256C;
    padding: 25px;
}
.services-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.services-card{
    flex: 1;
    padding :40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-align: center;
}
.s-item-title{
    font-size: 22px;
    color: #303132;
    font-weight: 600;
}
.s-item-desc{
    font-size: 19px;
    color: #878787;
}

.icon{
    margin:25px;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 2px rgba(230,230,230,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* SECTION 05*/
.works{
    display: flex;
    min-height: 120vh;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.works-container{
    display: flex;
    flex: 1;
    width: 98%;
    flex-direction: column;
}
.works-title{
    text-align: center;
    padding: 25px;
}
.works-info{
    flex :1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.works-row{
    flex : 1;
    display: flex;
    width: 100%;
    margin: 30px;
}
.work-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}
.img1{
    background-image:url("../assets/img1.jpg");
    background-position: center;
    background-size: cover;
}
.img2{
    background-image:url("../assets/img2.jpg");
    background-position: center;
    background-size: cover;
}
.img3{
    background-image:url("../assets/img3.jpg");
    background-position: center;
    background-size: cover;
}
.row-btn{
    background-image: linear-gradient(to right, #833ad9 , #536DFE);
    padding: 10px;
    color:white;
    font-size: 14px;
    cursor: pointer;
    transition: 1s;
}

/*Section 06 Skills*/
.skills{
    background-color: #fafafa;
    display: flex;
    min-height: 90vh;
    height: fit-content;
    justify-content: center; 
}
.skills-container{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.skills-title{
    text-align: center;
    padding: 25px;
}
.skills-info{
    flex : 1;
    display: flex;
}
.skills-intro{
    flex : 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    line-height: 65px;
}
hr{
    border-width: 0px;
    width: 100px;
    height: 6px;
    background-color: #536DFE;
}
.skills-items{
    flex : 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.skills-row{
    flex: 1;
    display: flex;
}
.skill-item{
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill-item-title{
    padding-top: 10px;
    font-size: 18px;
    color: #878787;
}
/*    SECTION 7 : Contact*/
.contact{
    display: flex;
    min-height: 90vh;
    height: fit-content;
    justify-content: center;
}
.contact-container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-text{
    flex: 1;
}
.contact-form{
    flex : 1;
}
#contact-title{
    font-size: 60px;
    padding: 30px 0px;
}
#sigiature{
    font-family: 'Parisienne', cursive;
    font-weight: bolder;
    font-size: 50px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Oswald';

}
textarea{
    margin: 20px;
    font-size: 20px;
    padding: 20px;
    font-family: 'Oswald';
    resize: none;
     height: 150px;
}
/*FOOTER STYLES*/
footer{
    background-color: #262b37;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
}


@media only screen and (max-width: 1000px) {
    .nav-header-container{
        position: static;
    }
    h1{
        font-size: 50px;
    }
    h5{
        font-size: 20px;
    }
    .apropos-content{
        flex-direction: column;
    }
    .apropos-info{
        text-align: center;
    }
    .apropos-photo{
        min-height: 400px;
    }
    .services-info{
        flex-direction: column;
    }
    .works-row{
        flex-direction: column;
    }
    .work-item{
        min-height: 400px;
        margin: 20px;
    }
    .skills-info{
        flex-direction: column;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-text{
        text-align: center;
    }
  }